.hidden {
  display: none;
}
@media (min-width: 992px) {
  .tt-show-one {
    width: 100%;
    float: left;
  }
  .tt-show-two {
    width: 50%;
    float: left;
  }
  .tt-show-three {
    width: 33.33333333%;
    float: left;
  }
  .tt-show-four {
    width: 25%;
    float: left;
  }
}
.tt-show-one, .tt-show-two, .tt-show-three, .tt-show-four {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.clearfix:after, .clearfix:before {
    display: table;
    content: " ";
}
.wpcareme-qty {
    width: 45px;
    text-align: center;
    margin: 5px;
}
.wpcareme-no-selected {
    background: #e5ffe6;
    padding: 15px;
    border: 2px solid #c0ebb1;
    text-transform: uppercase;
}
.wpcareme-no-selected .error {
    width: 70%;
    float: left;
    color: #5b9936;
}
.wpcareme-no-selected .error strong {
    border-bottom: 2px solid;
    font-weight: bolder;
}
.wpcareme-no-selected .multi-product-btn {
    width: 30%;
    float: right;
    padding-left: 20px;
}
.wpcareme-no-selected .multi-product-btn button {
    margin: 0;
    background-color: #74c043;
    color: #f1f1f1;
}
.wpcare-woocommerce-product-button button label{
    font-size: 14px;
    font-weight: 900;
}
.wpcare-woocommerce-product-wrap {
    background: #fff;
    padding: 10px;
    margin: 5px;
}
.wpcare-woocommerce-product-image {
  position: relative;
}
.wpcareme-wcmsp-price {
    background: #74c043;
    padding: 5px 15px;
    width: 100px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
}